{% load staticfiles %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light bg-secondary mx-0" style="z-index:2;">
      <a class="navbar-brand" href="{% url 'prof:home' %}">
        Flickr prac
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
      </button>
<div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ml-auto py-1" >
                <a id="home" class="nav-item nav-link active" href="/#home"> HOME </a>
            </div>
      </div>
    </nav>
</div>